.markdown > * {
    all: revert;
  }

.article-container {
    margin: 10px;
}

/* Styling for the article heading */
.article-heading {
    background-color: #27285C;
    color: white;
    padding: 10px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #d9d5d5;
}

.mdtext-container {
    background-color: #d9d5d5;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 20px;
}

/* Styling for the article content text */
.article-text {
    color: black;
    padding: 10px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Styling for the article date */
.article-date {
    font-family: Domine, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ff9b02;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Specific styling for strong elements within .article-text */
.article-text strong {
    z-index: 2;
    font-family: 'Segoe UI';
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
}